crackdataset/deploy/

checkpoint/mitb3_upernet_01_2023_5_16
checkpoint/mitb0_upernet_01_2023_5_25
checkpoint/resnet101_upernet_01_2023_5_22
log/train
log/test
args/
/test
/__pycache__
__pycache__/
/.vs/*
.vscode/
.git/
.idea/
.vscode/
.vscode/**/*
.vscode/**/**/*
.vscode/**/**/**/*

**/.idea
**/__pycache__/
workspace/checkpoint/
workspace/crackdataset/
*.pyc
*.cpython-38.pyc
**/*.pyc
**/*.pyo
**/*.pyd
**/.ipynb_checkpoints
**/.git
**/.git/*
**/.git/**/*
**/.git/**/**/*
**/.git/**/**/**/*

